.admin__section {
    background-color: #fff;
    margin: 20px;
    padding: 2px;
    width: 100%;
    height: 100%;
}



.post__content{
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.post__card {
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 24px;
}

.post__card:hover {

    .post__card-actions {
        opacity: 1;
    }
}

.post__card-header {
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}

.post__card-actions {
    gap: 5px;
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.post__card-edit {
    background-color: #1047fa;
    font-size: 25px;
}

.post__card-delete {
    background-color: #ff0000;
    font-size: 25px;
}

.post__card-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    flex: 1;
    word-wrap: break-word;   
}

.post__card-content{
    font-size: 16px;

}

.post__card-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-top: 10px;
    

    
}

.post__create-button {
    background-color: #000000;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    padding: 2px;
    transition: all 3s ease-in-out;
    
    
}

.post__create-button span {
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(
        135deg,
        #88ff09,
        #fd0f2f,
        #0dffa2,
        #ee7e07,
        #0478ed
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.post__create-button:hover{
    transform: scale(1.1);

}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.822); 
    display: flex;
    justify-content: center;
    align-items: center;

}


.modal__content {
    background-color: #444343; 
    padding: 32px;
    border-radius: 12px;
    width: 90%;
    max-width: 70%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
}
.modal__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.modal__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__group label {
    color: #fff;
}

.modal__form input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #121212;
    color: white;

} 
.modal__form textarea {
    width: 100%;
    height: 90px;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #121212;
    color: white;
}

.modal__actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 16px;
}
.modal__actions button {
    border-radius: 5px;
    text-align: center;
    height:25px;
    width: 70px;
    padding-bottom: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.btn-cancel {
    background-color: #d00808;
    color: #fff;
}

.btn-submit {
    background-color: #04eeffca;
    color: #000;
}