.btnAdminCreate {
    position: fixed;
    width: 90px;
    height: 40px;
    font-weight: 700;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    top:30px;
    right: 30px;
}

.btnAdminCreate:hover {
    box-shadow: 0 0 10px rgb(255, 253, 253);
    background-color: #000;
    color: #fff;

}

@media (max-width: 768px) {
    .btnAdminCreate{
        top: auto;
        width: 60px;
        right: 20px;
        bottom: 30px;
    }

}