.navbarContainer {
    padding: 10px;
    width: 100%;
    height: 100vh; 
    background-color: #000000; 
    border-right: 1px solid #333;
    transition: width 0.3s ease-in-out; 
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-self: start;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(12px);
    overflow-x: hidden;
}

.open {
    width: 250px;
}

.closed {
    width: 80px; 
}


.topSection {
    flex-direction: column;
    align-items: start;
    
}

.closed .topSection { 
    justify-content: center; 
}

.menuBtn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: color 0.2s ease;
}

.menuBtn:hover {
    color: #00ff15;
}

.title {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
}

.listContainer {
    margin-top: 30px;
}

.listItem, .logoutBtn {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
    width: 100%;
}

.open .listItem, .open .logoutBtn { 
    padding: 15px 20px; 
    justify-content: flex-start; 
}
.closed .listItem, .closed .logoutBtn { 
    padding: 15px 0; 
    justify-content: center; 
}

.listItem:hover {
    color: #00ff15;
    transform: scale(1.1);
}

.logoutBtn:hover {
    transform: scale(1.1);
}

.listItemActive {
    display: flex;
    gap: 15px;
    padding: 10px;
    align-items: center;
    color: #00ff15;
    transform: scale(1.1); 
}

.logoutBtn{
    color: #ff0011;
}

.mobileMenu {
    display: none;
}

@media (max-width: 768px) {
    .mobileMenu{
        display: block;
        position: fixed;
        top: 15px;
        z-index: 2000;
        background: transparent;
        color: #00ff15;
        padding: 0px;
        cursor: pointer;
        backdrop-filter: blur(5px);
        margin-bottom: 30px;
        transition: all 2s ease;
    }

    .topSection {
        margin-top: 40px;
    }

    .menuBtn{
        display: none;
    }

    .navbarContainer {
        position: fixed;
        z-index: 1000;
        height: 100dvh;
        transition: all 1s ease;
        
    }

    .open, .closed {
        width: 250px;
    }

    .closed {
        transform: translateX(-100%);
    }

    .open {
        transform: translateX(0);
        box-shadow: 10px 0 30px rgba(0, 0, 0, 0.8);
    }
}