.section {
    width: 100%;
    min-height: 100dvh;
    padding: 20px;    
}

.header{
    height: 70px;
    width:100%;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px);
}

.subtitle {
    font-size: 34px;
    color: #fff;
    background-color: transparent;
}

.container {
    width: 100%;
    min-height: 100dvh;
    padding: 10px;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    align-content: start;
}

@media (max-width: 768px) {
    .section {
        padding: 0;
    }

    .container  {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }

    .header {
        position: fixed;
        width: 100dvw; 
        height: 70px;
    }
}
