.panelContainer{ 
    background-color: #000;
    width: 100%;
    min-height: 100dvh;
    grid-template-columns: auto 1fr;
}

.contentContainer{
    width: 100%;
    min-height: 100dvh;
}

@media (max-width: 768px) {
    .panelContainer {
        display: flex;
        flex-direction:column;
        overflow:hidden;
        max-width: 100dvw;
    }

    .contentContainer{
        overflow:hidden;
    }
}